<div class="flex items-center justify-between mb-10">
  <h1 class="text-3xl">Pages</h1>
  <app-button routerLink="/pages/add">Add New Page</app-button>
</div>

<div class="grid grid-cols-1 gap-5" dndDropzone (dndDrop)="onDrop($event)">
  @for (page of pagesList(); track page.id) {
  <a
    [routerLink]="['/pages/edit', page.id]"
    [dndDraggable]="page"
    (dndEnd)="onDragEnd($event)"
    [dndEffectAllowed]="'copyMove'"
    class="block bg-white shadow-md rounded-lg p-5 min-w-[200px]"
  >
    <h2 class="text-xl">{{ page.title }}</h2>
    <p class="text-slate-500">{{ page.description }}</p>
    <div
    [ngStyle]="{ backgroundColor: page.color }"
    class="w-[100px] h-[20px] mt-5"
    ></div>
    <app-button class="mt-10 block" color="danger" (click)="deletePage($event, page.id)">Delete</app-button>
  </a>

  }
  <div
    style="border: 1px #ddd dashed; border-radius: 5px; padding: 15px; min-height: 100px;"
    dndPlaceholderRef
  ></div>
</div>
