@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

@font-face {
  font-family: "Kansas";
  src: url("./assets/fonts/NewKansas-Heavy.ttf");
  font-weight: normal;
  font-display: block;
}
